@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body,
  #root {
    width: 100%;
    min-height: 100vh;
  }

  svg {
    fill: currentColor;
  }

  button {
    border-color: currentColor;
  }

  .spinner_P7sC {
    transform-origin: center;
    animation: spinner_svv2 .75s infinite linear
  }

  @keyframes spinner_svv2 {
    100% {
      transform: rotate(360deg)
    }
  }
}

@layer utilities {

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
  }

  .outline-blue {
    @apply outline-2 outline-blue-500 outline-offset-2
  }

  .outline-red {
    @apply outline-2 outline-red-500 outline-offset-2
  }

  .outline-yellow {
    @apply outline-2 outline-yellow-500 outline-offset-2
  }
}